<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://com.company.tspserver/menu.application" insertBefore="administration">
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
        <item screen="Subscription.browse"
              caption="msg://com.company.tspserver.screen.subscription/subscriptionBrowse.menu"/>
        <item screen="Post.browse" caption="msg://com.company.tspserver.screen.post/postBrowse.menu"/>
        <item screen="User.browse" caption="msg://com.company.tspserver.screen.user/userBrowse.menu"/>
        <item screen="PostComment.browse"
              caption="msg://com.company.tspserver.screen.postcomment/postCommentBrowse.menu"/>
        <item screen="PostLike.browse" caption="msg://com.company.tspserver.screen.postlike/postLikeBrowse.menu"/>
        <item screen="Complaint.browse" caption="msg://com.company.tspserver.screen.complaint/complaintBrowse.menu"/>
    </menu>

</menu-config>